.parent {
  height: 100vh;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    39deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(116, 116, 116, 1) 61%,
    rgb(96, 228, 255) 100%
  );
}
