@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

html {
  scroll-behavior: smooth;
  @apply text-slate-100;
}
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #1e293b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #1e293b;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
